<script src="{{ 'li_custom.js' | asset_url }}" type="text/javascript"></script>
<div li-element="product-variant-container" class="product-card_item shadow-large" x-data="handleVariant({{ product | json | escape }}, {{ product.options_by_name | json | escape }}, {{ product.selected_or_first_available_variant | json | escape }})" x-init="$nextTick(() => { activateVariants() })" @setbundleitem.window="updateBundleItem($event.detail.product, $event.detail.quantity)">
                    <a li-object:href="product.url" href="{{ product.url }}" class="product-card_image-wrapper w-inline-block"><img li-object:src="product.featured_image | image_url: width: 450" li-object:alt="product.featured_image.alt" alt="{{ product.featured_image.alt }}" src="{{ product.featured_image | image_url: width: 450 }}" loading="lazy" class="product-card_image"></a>
                    <div class="product-card_item-content">
                      <div class="product-card_item-content-top">
                        <div class="product-card_title-wrapper">
                          <h3 li-object="product.title" class="heading-style-h4">{{ product.title }}</h3>
                        </div>
                      </div>
                      <div class="product-card_information">
                        {% if product.compare_at_price_max > product.price %}    <div li-if="product.compare_at_price_max > product.price">
    
                          <div li-object="product.compare_at_price | money" class="product-card_comparison-price">{{ product.compare_at_price | money }}</div>
                            </div>
{% endif %}
                        <div class="product-card_price">
                          <div li-object="product.price | money" class="new-machine-grid_stat">{{ product.price | money }}</div>
                          <div class="new-machine-grid_stat-title">excl. VAT</div>
                        </div>
                      </div>
                    </div>
                    <div class="new-machine-grid_button-wrapper">
                      {% if product.available != true %}    <div li-if="product.available != true" class="button-fill">
    
                        {% if product.available != true %}    <a li-if="product.available != true" href="#" class="button is-unavailable w-button">
    Not in Stock    </a>
{% endif %}
                          </div>
{% endif %}
                      {% if product.available == true %}    <div li-if="product.available == true" class="button-fill">
    
                        <a href="#" li-element="add-to-cart" class="button fill w-button" @click="addToCart($event, true)" :disabled="!addToCartButton">Add to cart</a>
                          </div>
{% endif %}
                      <div class="button-fill">
                        <a href="{{ product.url }}" li-object:href="product.url" class="button is-alternate fill w-button">Read more</a>
                      </div>
                    </div>
                  </div>
