<div class="padding-global">
          <div class="padding-section-large">
            <div class="w-layout-grid layout_component">
              <div class="image_wrapper">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'contain_image' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'image.svg' | asset_url }}" width="auto" height="auto" class="contain_image">
{% endif %}</div>
              <div id="w-node-b4eecca6-b7fe-f9fe-79a3-24d1820f7efe-820f7ef8" class="layout_content">
                <div class="content_wrapper">
                  <div class="content_header">
                    <h2>
{{ section.settings.text_headline }}
</h2>
                    <div class="spacer-large"></div>
                    <div class="lead"> {{ section.settings.richtext_lead_paragraph }} </div>
                  </div>
                  <div class="content_secondary">
                    <div class="spacer-small"></div>
                    <div> {{ section.settings.richtext_text }} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Grey Image Left",
    "class": "section_content background-color-secondary",
    "settings": [
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        },
        {
            "id": "text_headline",
            "type": "text",
            "label": "Headline",
            "default": "Short Heading Goes Here"
        },
        {
            "id": "richtext_lead_paragraph",
            "type": "richtext",
            "label": "Lead Paragraph",
            "default": "<p>Lead paragraph goes here<\/p>"
        },
        {
            "id": "richtext_text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Body copy goes here<\/p>"
        },
        {
            "id": "url_button_url",
            "type": "url",
            "label": "Button-Url"
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button-Text",
            "default": "Button Text"
        }
    ],
    "presets": [
        {
            "name": "Grey Image Left",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}