<div class="page-header_component">
          <div class="page-header_wrapper_short">
            <div class="padding-global">
              <div class="padding-vertical padding-large">
                <div class="w-layout-grid page-header_content">
                  <div data-w-id="42a1a4dc-aa82-d1e4-0922-7c19e13ca2f3" class="page-header_content-left">
                    <h1 li-object="search.terms | escape " class="text-color-white text-wrap">{{ search.terms | escape  }}</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="page-header_background-wrapper">
              <div class="overlay-layer_page-header"></div>
            </div>
          </div>
        </div>
        <div class="padding-global padding-section-medium">
          {% paginate search.results by 50 %}
    <div li-paginate:by="50" li-paginate="search.results" class="filter_layout" by="50">
            <div id="w-node-_678e0483-bbe4-e79a-1722-b169c587feae-c587feae" class="filter_filters-wrapper">
              <form action="{{ routes.search_url }}" method="get" role="search" class="filter_form_component">
                <div id="w-node-_265c4342-3d21-e8bf-dfee-efec035c3507-c587feae" class="filter_form">
                  <div class="filter_form-header">
                    <div class="filter_heading">
{{ section.settings.text_filter }}
</div>
                  </div>
                  <div class="filter_results-wrapper">
                    <div class="filter_results-text"><span li-object="search.results_count | append: ' '">{{ search.results_count | append: ' ' }}</span> <span>
{{ section.settings.text_products_shown }}
</span></div>
                  </div>
                  <div class="filter_form-field-wrapper"><input name="type" type="hidden" class="form_input" value="product"><label for="filter-search" class="form_hidden-label">Search for Products</label><input name="q" placeholder="Search" type="search" id="filter-search" class="form_input" value="{{ search.terms | escape }}"></div>
                  <div class="filter_scroll-wrapper">
                    <div class="filter_filter-group-list">
                      {% for filter in search.filters %}    <div li-for="filter in search.filters" class="filter_filter-group">
                                    
                        
                            {% if filter.values.size > 1 %}    <div li-if="filter.values.size > 1">
    
                          <div class="filter_filter-group-heading">
                            <div li-object="filter.label" class="text-size-medium text-weight-semibold">{{ filter.label }}</div>
                          </div>
                          <div class="filter_list">
                            {% for filter_value in filter.values %}    <div li-for="filter_value in filter.values" class="filter_item">
                                    
                              
                            <a href="{% if filter_value.active %}{{ filter_value.url_to_remove }}{% else %}{{ filter_value.url_to_add }}{% endif %}" class="{% if filter_value.count == 0 and filter_value.active == false %}filter_form_checkbox is-disabled{% else %}filter_form_checkbox{% endif %}">
                                <div class="{% if filter_value.active %}filter_form_checkbox-icon is-checked{% else %}filter_form_checkbox-icon{% endif %}"></div>
                                <div class="filter_form_checkbox-label"><span li-object="filter_value.label | append: ' '">{{ filter_value.label | append: ' ' }}</span> (<span li-object="filter_value.count">{{ filter_value.count }}</span>)</div>
                              </a>
                            
                            
                        </div>
{% endfor %}
                          </div>
                            </div>
{% endif %}
                            
                      
                        </div>
{% endfor %}
                    </div>
                  </div>
                </div>
              </form>
              <a data-w-id="678e0483-bbe4-e79a-1722-b169c587fede" href="#" class="filter_tablet-modal-close-button w-inline-block"><img src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031623afe4aee7e_icon_close-modal.svg" alt="" class="icon-1x1-small"></a>
            </div>
            <a data-w-id="63614b06-d13c-4caa-b5ce-a7c7ab356686" href="#" class="filter_tablet-filters-button w-inline-block"><img alt="" loading="lazy" src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/62942b9f00484cf074e6f851_icon-filters.svg" class="button-icon-left">
              <div>Filters</div>
            </a>
            <div id="w-node-_63614b06-d13c-4caa-b5ce-a7c7ab35668a-ab35667c" class="filter_feed">
              <div class="filter_product-list-wrapper w-dyn-list">
                <div role="list" class="filter_product-list w-dyn-items">
                  {% for product in search.results %}    <div li-for="product in search.results" role="listitem" class="filter_product-list-item w-dyn-item">
                                    
                    
                            {% render 'product_item', product: product %}
                            
                  
                        </div>
{% endfor %}
                </div>
                {% if search.results == blank %}    <div li-if="search.results == blank" class="filter_empty w-dyn-empty">
    
                  <div class="heading-style-h6">No results found.</div>
                  <div class="spacer-xxsmall"></div>
                  <div>There are no results with this criteria. Try changing your search.</div>
                    </div>
{% endif %}
              </div>
              {% if paginate.pages > 1 %}    <nav li-if="paginate.pages > 1" class="pagination_component">
    
                <ul role="list" class="pagination_list w-list-unstyled">
                  {% if paginate.previous %}    <li li-if="paginate.previous" class="pagination_item">
    
                    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-icon w-inline-block">
                      <div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                          <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                        </svg></div>
                      <div>Back</div>
                    </a>
                      </li>
{% endif %}
                  {% if paginate.previous == false %}    <li li-if="paginate.previous == false" class="pagination_item">
    
                    <a li-object:href="paginate.previous.url" href="{{ paginate.previous.url }}" class="button is-unavailable is-icon w-inline-block">
                      <div class="pagination_arrow w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                          <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                        </svg></div>
                      <div>Back</div>
                    </a>
                      </li>
{% endif %}
                  {% for part in paginate.parts %}    <li li-for="part in paginate.parts" class="pagination_item">
                                    
                    
                            {% if part.is_link %}    <div li-if="part.is_link">
    
                      <a li-object:href="part.url" href="{{ part.url }}" class="pagination_count w-inline-block">
                        <div li-object="part.title" class="text-style-link">{{ part.title }}</div>
                      </a>
                        </div>
{% endif %}
                            
                    
                            {% if part.is_link == false %}    <div li-if="part.is_link == false">
    
                      {% if part.is_link != true %}    <div li-if="part.is_link != true">
    
                        <div>
                          <div li-object="part.title" class="{% if part.title == paginate.current_page %}text-weight-semibold{% endif %}">{{ part.title }}</div>
                        </div>
                          </div>
{% endif %}
                        </div>
{% endif %}
                            
                  
                        </li>
{% endfor %}
                  {% if paginate.next == false %}    <li li-if="paginate.next == false" class="pagination_item">
    
                    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-unavailable is-icon w-inline-block">
                      <div>Next</div>
                      <div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                          <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                        </svg></div>
                    </a>
                      </li>
{% endif %}
                  {% if paginate.next %}    <li li-if="paginate.next" class="pagination_item">
    
                    <a li-object:href="paginate.next.url" href="{{ paginate.next.url }}" class="button is-icon w-inline-block">
                      <div>Next</div>
                      <div class="pagination_arrow is-right w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 13 8" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                          <path d="M1.67318 0.589844L6.26318 5.16984L10.8532 0.589844L12.2632 1.99984L6.26318 7.99984L0.263184 1.99984L1.67318 0.589844Z" fill="currentColor"></path>
                        </svg></div>
                    </a>
                      </li>
{% endif %}
                </ul>
                  </nav>
{% endif %}
            </div>
          </div>{% endpaginate %}
        </div>
        <div class="hide w-embed w-script">
          <script>
//sortierung
  Shopify.queryParams = {};
  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');
    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');
      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }
  // Update sort_by query parameter on select change
  document.querySelector('#sort-by').addEventListener('change', function(e) {
    var value = e.target.value;
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Search",
    "class": "section_filter",
    "settings": [
        {
            "id": "text_filter",
            "type": "text",
            "label": "Filter",
            "default": "Search"
        },
        {
            "id": "text_products_shown",
            "type": "text",
            "label": "Products shown",
            "default": "Products shown"
        }
    ],
    "presets": [
        {
            "name": "Search",
            "category": "Liquify",
            "blocks": []
        }
    ],
    "enabled_on": {
        "templates": [
            "search"
        ]
    }
} {% endschema %}